.inputWrapper {
  .sizeInput {

    width: 100px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #27aae1;
    background-color: white;
    resize: none;
    font-size: 50px;
    overflow: hidden;
    &::placeholder{
      font-size: 10px;
     padding-top: 20px;
    }

  }

  .startBtn {
    margin-top: 20px;
    cursor: pointer;
    background: #27aae1;
    padding: 7px 25px;
    border: none;
    color: #fff;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
  }
}